<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyADp4pGNrOjpxgmbrQGTfJc3l2azlO7BzQ</string>
	<key>GCM_SENDER_ID</key>
	<string>903516998936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ex.myNewsApp</string>
	<key>PROJECT_ID</key>
	<string>news-app-d5374</string>
	<key>STORAGE_BUCKET</key>
	<string>news-app-d5374.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:903516998936:ios:e9b90d3f0be0b59feb226d</string>
</dict>
</plist>